html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-family: monospace, Helvetica, Arial, sans-serif;
}

#main {
  display: flex;
  overflow: hidden;
  height: 100vh;
  position: relative;
  width: 100%;
}

#left {
  flex: 1;
  overflow: auto;
  height: auto;
  padding: 0.5rem;
}

#left > textarea {
  width: 100%;
}

#left .jer-editor-container {
  max-width: 100% !important;
}

#right {
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#config {
  flex: 1;
  display: flex;
  padding: 0 1rem;
  gap: 1rem;
  align-items: center;
  width: 100%;
  background-color: #eee;
  border-bottom: 1px solid #aaa;
}

#output {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

#preview {
  border: 2px solid #333;
  box-shadow: 4px 4px 5px -2px rgba(0, 0, 0, 0.37);
}

button {
  color: white;
  background-color: #065fa8;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  transition: border-color 0.25s;
  min-width: 10rem;
}

button:hover {
  background-color: #478dc7;
  cursor: pointer;
}
